@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}
body {
	width: 100%;
	background: #333;
}
.wrapper {
	margin: 200px auto;
	max-width: 400px;
	width: 100%;
	background: #fff;
	border-radius: 5px;
	padding: 25px;
}
.wrapper header {
	font-size: 30px;
	font-weight: 600;
}
.wrapper .inputField {
	display: flex;
	height: 45px;
	width: 100%;
	margin: 20px 0;
}
.inputField input {
	outline: none;
	width: 85%;
	height: 100%;
	border: 1px solid #ccc;
	font-size: 17px;
	border-radius: 3px;
	padding-left: 15px;
}
.inputField button {
	width: 60px;
	height: 100%;
	border: none;
	outline: none;
	background: #497BE8;
	color: #fff;
	font-size: 22px;
	cursor: pointer;
	border-radius: 3px;
	margin-left: 5px;
	opacity: 0.6;
	pointer-events: none;
}
.inputField button.active {
	opacity: 1;
	pointer-events: auto;
}
.wrapper .todoList {
	/*min height buat minimal tinggi, remove ini*/
	min-height: 250px;
	max-height: 250px;
	overflow-y: auto;
}
.todoList li {
	list-style: none;
	height: 45px;
	line-height: 45px;
	position: relative;
	background: #f2f2f2;
	border-radius: 3px;
	margin-bottom: 8px;
	padding: 0 15px;
	cursor: default;
	overflow: hidden;
}
.todoList li span {
	position: absolute;
	right: -45px;
	color: #fff;
	width: 45px;
	text-align: center;
	border-radius: 0 3px 3px 0;
	background: #e74c3c;
	cursor: pointer;
	transition: all 0.3s ease;
}
.todoList li:hover span {
	right: 0px;
}
.wrapper .footer {
	display: flex;
	width: 100%;
	align-items: center;
	margin-top: 20px;
	justify-content: space-between;
}
.footer button {
	border: none;
	outline: none;
	background: #497BE8;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
	border-radius: 3px;
	padding: 6px 10px;
	opacity: 0.6;
	pointer-events: none;
}
.footer button.active {
	opacity: 1;
	pointer-events: auto;
}
.noTask {
	text-align: center;
	margin-top: -470px;
	color: #ccc;
	display: none;
	font-size: 17px;
	font-weight: 500;
}
.noTask span {
	margin-bottom: 10px;
	font-size: 50px;
}
.noTask.active {
	display: block;
}
@media screen and (max-width: 425px) {
	body {
		width: 425px;
		background: #fff;
	}
	.wrapper {
		margin: 10px auto;
		max-width: 425px;
		width: 100%;
		background: #fff;
		padding: 20px;
	}
	.wrapper header {
		color: #497BE8;
	}
	.wrapper .inputField {
		display: flex;
		height: 44px;
		width: 100%;
		margin: 20px 0;
	}
	.inputField input {
		width: 89%;
		height: 100%;
		font-size: 15px;
		padding-left: 15px;
	}
	.inputField button {
		width: 44px;
		font-size: 18px;
	}
	.wrapper .todoList {
		/*min-height: 200px;
		max-height: 200px;*/
		border-bottom: 1px solid #ccc;
	}
	.todoList li {
		height: 45px;
		line-height: 45px;
		width: 100%;
		font-size: 15px;
	}
	.todoList li span {
		position: absolute;
		right: 0px;
		font-size: 15px;
	}
	.wrapper .footer {
		display: flex;
		width: 100%;
		align-items: center;
		margin-top: 20px;
		font-size: 15px;
		justify-content: space-between;
	}
	.footer button {
		font-size: 15px;
	}
	.noTask {
		margin-top: -260px;
		display: none;
		font-size: 15px;
	}
	.noTask span {
		font-size: 40px;
	}
	.noTask.active {
		display: block;
	}
}
